<div class="backdrop">
  <div id='nav'></div>
  <div id="main"></div>
</div>

<% if Game.all.length == 0 %>
  <% fill_game_database %>
<% end %>

<script>
  $(document).ready(function(){
    GoodgamesApp.initialize();
  });
</script>

<script>window.CURRENT_USER = '<%= current_user.username %>'</script>
<script>window.CURRENT_USER_ID = <%= current_user.id %></script>

</div>
