<div class='new-session text-center'>
  <img class='logo'
    src="http://res.cloudinary.com/dqucbuno8/image/upload/c_scale,h_720/v1434830178/goodgames-logo2_sbhe9i.png"
  />

  <form class='new-sess-form' action="<%= session_url %>" method="post">

    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>"
    >

    <div class="form-group">
      <label>
        Username
        <input type="text" class="form-control"
          name="user[username]" value=""
        >
      </label>
    </div>

    <div class="form-group">
      <label>
        Password
        <input type="password" class="form-control"
          name="user[password]" value=""
        >
      </label>
    </div>

    <input type="submit" class="btn btn-default btn-success" value="Sign In">
    <a href="../users/new">
      <input type="button" class="btn btn-default btn-success" value="Sign Up">
    </a>
    <br><br>

  </form>
  <form class='guest-sess-form' action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>"
    >

    <input type="hidden" name="user[username]" value="guest">
    <input type="hidden" name="user[password]" value="password">

    <input type="submit"
      class="guest btn btn-default btn-info"
      value="Guest Sign In"
    >
  </form>

</video>
  <video class="splash-vid" src="/assets/splash-vid.webm" autoplay loop
    poster="/assests/splash-vid-poster.jpg"
  ></video>

</div>
