<div class='new-session'>
  <h1>Sign In</h1>

  <form action="<%= session_url %>" method="post">

    <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>" >

    <div class="form-group">
      <label>
        Username
        <input type="text" class="form-control" name="user[username]" value="guest">
      </label>
    </div>

    <div class="form-group">
      <label>
        Password
        <input type="password" class="form-control" name="user[password]" value="password">
      </label>
    </div>

    <input type="submit" class="btn btn-default btn-success" value="Sign In">
    <a href="../users/new">
      <input type="button" class="btn btn-default btn-success" value="Sign Up">
    </a>

  </form>

  <% 5.times do |idx| %>

  <div class="autoplay<%= idx.to_s %>">
    <% Game.all.shuffle.each do |game| %>
      <img class="splash-box" src="<%= game.boxart_url %>"/>
    <% end %>
  </div>

  <% end %>
</div>
