<h1><%= user.escape('username') %>'s Profile</h1>
<div class="profile-pic"></div>

<button type="button" class="upload-pic btn btn-default">Upload Profile Pic</button>

<div class="row">

  <h4>My Recommended Games: </h4>
  <div class="collection">

  </div>
</div>

<div class="row">

  <h4>My Wishlist: </h4>
  <div id='wishlist'></div>
</div>

<div class="comment-index"></div>
