<h1><%= user.get('username') %>'s Profile</h1>

<div class="row">

  <h4>My Games: </h4>
  <div id='collection'></div>
</div>

<div class="row">

  <h4>My Wishlist: </h4>
  <div id='wishlist'></div>
</div>
