<div class="row">
  <div class="col-xs-5">

    <h1><%= user.escape('username') %>'s Profile</h1>

    <div class="profile-pic"></div>

    <button type="button" class="upload-pic btn btn-default btn-warning">Upload Profile Pic</button>

<div id='profile-reviews'>
  <button type="button" class="btn btn-default btn-success see-reviews">
    See My Reviews
  </button>
</div>
  </div>

  <div class="col-xs-7">

    <div class="row">

      <h4>My Recommended Games: </h4>
      <div class="collection slider">

      </div>
    </div>

    <div class="row">

      <h4>My Wishlist: </h4>
      <div id='wishlist' class='wishlist slider'></div>
    </div>
  </div>
</div>


<div class="comment-index"></div>
