<h1><%= user.escape('username') %>'s Profile</h1>

<div class="profile-pic">

</div>

<div class="row">

  <h4><%= user.escape('username') %>'s Recommendations: </h4>
  <div id='collection'></div>
</div>

<div class="row">

  <h4><%= user.escape('username') %>'s Wishlist: </h4>
  <div id='wishlist'></div>
</div>
<div class="comment-index"></div>
