<h1><%= user.escape('username') %>'s Profile</h1>

<div class="profile-pic">

</div>

<div class="row">

  <h4><%= user.escape('username') %>'s Recommendations: </h4>
  <div class="collection slider"></div>

<div class="row">

  <h4><%= user.escape('username') %>'s Wishlist: </h4>
  <div id='wishlist' class='slider'></div>
</div>
<div class="comment-index"></div>

<div id="my-thumbs-list" class="collection mThumbnailScroller" data-mts-axis="x">
