<div class="container">
  <div class="profile-header">
    <div class="avatar">
      <div class="profile-pic"></div>
    </div>

    <div class="user-info">
      <h1><%= user.escape('username') %>'s Profile</h1>
      <button type="button" class="btn btn-default btn-success see-reviews">
          See <%= user.escape('username') %>'s Reviews
      </button>
    </div>

    <div class="rank"></div>
  </div>
  <br>

  <h4><%= user.escape('username') %>'s Recommended Games: </h4>
  <div class="recommendations slider"></div>

  <h4><%= user.escape('username') %>'s Wishlist: </h4>
  <div class="wishlist slider"></div>
  <br><br>

  <div class="comment-index"></div>
</div>
