<div class="panel panel-default css-panel">

  <div class="panel-heading css-panel-head">
    <div class="pull-right">
      Written on: <%= comment.escape('created_at').slice(0, 10) %>
    </div>
    <a href="#" class="username bold"><%= comment.escape('author') %></a>
    said:
  </div>
  <br>

  <div class="comment-body panel-body review-body">
    <%= comment.escape('body') %>
  </div>
  <div class="panel-footer css-panel-foot a"></div>
</div>
