<div class="m-backdrop form"></div>
<div class="m-content form">

  <div class="panel panel-default css-panel">
    <div class="panel-heading css-panel-head">
      <button class="close pull-right">
        <i class="fa fa-remove"></i>
      </button>
      
      <h4>Score:</h4>
      <input class="review-score" type="number" name="review[score]"
             class="rating" min=0 max=5 step=1 data-size="sm"
      >
    </div>

    <div class="panel-body">
      <div class="errors"></div>

      <label>What did you think of this game?
        <br>
        <textarea class="review-content" name="review[body]" rows="16"
          cols="131"><%= review.escape('body') %></textarea>
      </label>
    </div>

    <input type="hidden" name="review[commentable_id]" value="<%= game_id %>">
    <input type="hidden" name="review[commentable_type]" value="Game">

    <div class="panel-footer css-panel-foot">
      <button class="compose btn btn-default btn-success" type="submit">
        <i class="fa fa-check"></i>
        Submit Review
      </button>
    </div>
  </div>
</div>
