<div class="m-backdrop"></div>
<div class="m-content">

  <div class="panel panel-default css-panel">
    <div class="panel-heading css-panel-head">
      <button class="close pull-right">&times;</button>
      <input id="review-score" type="number" name="review[score]"
             class="rating" min=0 max=5 step=1 data-size="sm"
      >
    </div>
    <div class="panel-body">
      <label>What did you think of this game?
        <br>
        <textarea name="review[body]" rows="16" cols="131"></textarea>
      </label>
    </div>
    <input type="hidden" name="review[commentable_id]" value="<%= game_id %>">
    <input type="hidden" name="review[commentable_type]" value="Game">

    <div class="panel-footer css-panel-foot">
      <button class="compose btn btn-default" type="submit">Submit Review</button>
    </div>
  </div>
</div>
