<button type="button" class="btn btn-default btn-compose btn-success">
  <i class="fa fa-pencil"></i>
  Write a Review
</button>
<br><br>

<h4>Community Reviews:</h4>
<div class="game-reviews"></div>
