<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>" >

  <div class="form-group">

    <label>
      Username
      <input type="text" class="form-control" name="user[username]" value="">
    </label><br>

  </div>

  <div class="form-group">
    <label>
      Password
      <input type="password" class="form-control" name="user[password]" value="">
    </label><br>
  </div>

  <input type="submit" class="btn btn-default btn-success" value="Sign Up">
  <a href="../session/new">
    <input type="button" class="btn btn-default btn-success" value="Sign In">
  </a>
</form>
