<div class="container search-results-page">
  <h3>Search Results:</h3>
  <div class="row">
    <div class="search-results"></div>
    <% if (!results.length) { %>
      <h4>No results found</h4>
    <% } %>
  </div>
</div>
