<div class='row'>
  <div class='games-index-title'>
    <h3>Search Results:</h3>
  </div>
  <div id="results">
  </div>
    <% if (!results.length) { %>
      <p>No results found</p>
    <% } %>
</div>
