<div class="game-search-results pull-left text-center">
  <a href="#games/<%= game.id %>">
    <% if (game.get('image')) { %>
      <img class="small-boxart" src="<%= game.get('image').small_url %>"></img>
    <% } %>

    <hr class="box-divider">
    <span class="caption game-title"><%= game.escape('name') %></span>
  </a>
</div>
