<div class="col-xs-2">
  <div class="game-thumbnail pull-left text-center">

    <div class="small-boxart-buffer">
      <a href="#games/<%= game.id %>">
        <img class="small-boxart"
          src="<%= game.escape('thumbnail_url') %>">
        </img>

        <hr class="box-divider">
        <span class="caption game-title"><%= game.escape('name') %></span>
      </a>
    </div>

    <div class="delete-button"><div>
  </div>
</div>
