<div>
  <div id="recommendation-feed"></div>

  <div id="homepage-game-lists">
    <div>
      <h2>Popular Games</h2>
      <div class="homepage-game-list clearfix" id="popular"></div>
    </div>

    <div>
      <h2>New Releases</h2>
      <div class="homepage-game-list clearfix" id="new"></div>
    </div>

    <div>
      <h2>Highest Rated</h2>
      <div class="homepage-game-list clearfix" id="best"></div>
    </div>

    <div>
      <h2>Classics</h2>
      <div class="homepage-game-list clearfix" id="old"></div>
    </div>
  </div>
</div>
