<div class="homepage-game pull-left text-center">
  <div class="homepage-game-title bold"><%= game.escape('name') %></div>

  <a href="#games/<%= game.id %>">
    <img class="homepage-boxart" src="<%= game.escape('thumbnail_url') %>">
    </img>
  </a>

  <div class="homepage-avg-score">
    <input class="average-score home-score" type="number" class="rate"
      disabled="true" data-size="xs" min=0 max=5 step=0.1
      value="<%= game.escape('score') %>"
    >
  </div>
</div>
