<div class='game-thumb thumbnail pull-left text-center'>
  <div class='box'>
  <a href="#games/<%= game.id %>">
    <img id='boxart' src='<%= game.escape('boxart_url') %>'></img>
    </div><hr class='box-divider'>
    <span class='caption'><%= game.escape('name') %></span>
  </a>
</div>
