<div class='row'>
  <div id="rec-div" class="col-xs-3">
    <div id="rec-feed-index"></div>
  </div>

  <div class="col-xs-9">

    <h2>Popular Games</h2>
    <div class='row' id='popular'>
    </div>
      <h2>New Releases</h2>
    <div class='row' id='new'>
    </div>
      <h2>Highest Rated</h2>
    <div class='row' id='best'>
    </div>
      <h2>Classics</h2>
    <div class='row' id='old'></div>

  </div>
</div>
