<div class='row'>
  <div id="rec-feed" class="col-xs-4"></div>

  <div class="col-xs-8">

    <h2>Popular Games</h2>
    <div class='row' id='popular'>
    </div>
    <br>

    <h2>New Releases</h2>
    <div class='row' id='new'>
    </div>
    <br>

    <h2>Highest Rated</h2>
    <div class='row' id='best'>
    </div>
    <br>

    <h2>Classics</h2>
    <div class='row' id='old'></div>

  </div>
</div>
