<div>
  <h1><%= game.escape('name') %></h1>
  <div class='row'>
    <img class='box-art' src='<%= game.escape('boxart_url') %>'/>
    <div><strong id='score'>Average Score: <%= game.escape('score') %>/5</strong></div>
    <div class='game-info'>
      About: <%= game.escape('deck') %>
    </div>
  </div>
  <div id='review-index'></div>
</div>
