<div class="feed-item">
  <div>
    <a href="#" class="feed-username">
      <img class="feed-prof-pic"
        src="<%= this.model.image().get('thumb_url') %>"
      />
    </a>
  </div>

  <div class="feed-text">
    <a class="bold feed-username" href="#">
      <%= recommendation.get("user_name") %>
    </a>
    recommended
    <a class="bold feed-gamename" href="#">
      <%= recommendation.get("game_name") %>
    </a>
  </div>
  <hr class="feed-hr">
<div>
