<div id='feed-item'>
  <strong><a id='feed-username' href='#'><%= recommendation.escape("user_name") %></a></strong>
  recommended
  <strong><a id='feed-gamename' href='#'><%= recommendation.get("game_name") %></a></strong>
<div>
