<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="games-link" class="navbar-brand" href="#">Goodgames</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="games-link" class='games-link active'><a href="#">Home</a></li>
        <li id="profile"><a href="#">My Profile</a></li>
        <li id="users-index"><a href="#">Users</a></li>

      </ul>

    <ul class="nav navbar-nav navbar-right">
      <li id="search-bar"></li>

      <li><div class="dropdown">
        <button class="btn btn-default dropdown-toggle nav-drop" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a class="search-games" role="menuitem" tabindex="-1" href="#">Search Games</a></li>
          <li role="presentation"><a class="search-users" role="menuitem" tabindex="-1" href="#">Search Users</a></li>
        </ul>
      <div class="spacer">
      </div></li>


      <li>
        <a id="profile" class='prof-link' href="#">
          <img class="nav-prof-pic" src="<%= GoodgamesApp.currentUser.image().get('thumb_url') %>"/>
        </a>
      </li>


      <li class="dropdown">
        <a id='profile-dropdown' href="#" class="dropdown-toggle"
          data-toggle="dropdown" role="button" aria-expanded="false">
          <%= CURRENT_USER %><span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li id='profile'><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/session/new">Log Out</a></li>
        </ul>
      </li>
    </ul>
</div>
  </div>
</nav>
