<nav class="navbar navbar-default navbar-fixed-top nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="nav-games navbar-brand" href="#">
        <img class="nav-logo"
          src="http://res.cloudinary.com/dqucbuno8/image/upload/c_scale,h_150/v1434845047/goodgames-logo-nav_zhsknk.png"
        />
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-games">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-profile">
          <a class="nav-link" href="#">My Profile</a>
        </li>
        <li class="nav-users">
          <a class="nav-link" href="#">Users</a>
        </li>
      </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="search-bar"></li>
      <li>
        <a class="nav-profile profile-link" href="#">
          <img class="nav-prof-pic"
            src="<%= GoodgamesApp.currentUser.image().get('thumb_url') %>"
          />
        </a>
      </li>


      <li class="dropdown">
        <a href="#" class="nav-dropdown dropdown-toggle"
          data-toggle="dropdown" role="button" aria-expanded="false">
          <%= CURRENT_USER %><span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="nav-profile"><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/session/new">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
