<nav class="navbar navbar-default navbar-fixed-top nav">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#navbar-collapse"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="nav-games navbar-brand" href="#">
        <img class="nav-logo"
          src="http://res.cloudinary.com/dqucbuno8/image/upload/c_scale,h_150/v1434845047/goodgames-logo-nav_zhsknk.png"
        />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-games">
          <a class="nav-link" href="#">
            <i class="fa fa-home fa-lg center-fa"></i>
             Home
          </a>
        </li>
        <li class="nav-profile nav-tab">
          <a class="nav-link" href="#">
            <i class="fa fa-gamepad fa-lg center-fa"></i>
             My Profile
          </a>
        </li>
        <li class="nav-users">
          <a class="nav-link" href="#">
            <i class="fa fa-users fa-lg center-fa"></i>
             Users
          </a>
        </li>
      </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
        <div id="search-bar"></div>

        <div class="search-bar-dropdown">
          <div class="dropdown form-group">
            <button class="btn btn-default dropdown-toggle nav-drop" type="button"
              id="dropdown-menu" data-toggle="dropdown" aria-expanded="true"
            >
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-menu">
              <li role="presentation">
                <a class="search-games" role="menuitem" tabindex="-1" href="#">
                  <i class="fa fa-search"></i>
                  Search Games
                </a>
              </li>

              <li role="presentation">
                <a class="search-users" role="menuitem" tabindex="-1" href="#">
                  <i class="fa fa-search"></i>
                  Search Users
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav-user-info"></li>
    </ul>
  </div>
</nav>
