<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="games-link" class="navbar-brand" href="#">Goodgames</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="games-link" class='games-link active'><a href="#">Home</a></li>
        <li id="profile"><a href="#">My Profile</a></li>
      </ul>

    <ul class="nav navbar-nav navbar-right">
      <li id="search-bar"></li>
      <li class="dropdown">
        <a id='profile-dropdown' href="#" class="dropdown-toggle"
          data-toggle="dropdown" role="button" aria-expanded="false">
          <%= CURRENT_USER %><span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li id='profile'><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/session/new">Log Out</a></li>
        </ul>
      </li>
    </ul>
</div>
  </div>
</nav>
