<div class="navbar-form navbar-right">
  <div class="form-group">
    <input type="text" name="query" class="query form-control"
      style="width: 400px" placeholder="Search by game title">
  </div>
  <button type="submit" class="btn btn-default">Search Games</button>

  <div class="dropdown form-group">
    <button class="btn btn-default dropdown-toggle nav-drop" type="button"
      id="dropdown-menu" data-toggle="dropdown" aria-expanded="true">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-menu">
      <li role="presentation"><a class="search-games" role="menuitem"
        tabindex="-1" href="#">Search Games</a>
      </li>
      <li role="presentation"><a class="search-users" role="menuitem"
        tabindex="-1" href="#">Search Users</a>
      </li>
    </ul>
  </div>
</div>
