<li>
  <a class="nav-profile profile-link" href="#">
    <img class="nav-prof-pic"
      src="<%= GoodgamesApp.currentUser.image().get('thumb_url') %>"
    />
  </a>
</li>

<li class="dropdown nav-username">
  <a href="#" class="nav-dropdown dropdown-toggle" data-toggle="dropdown"
    role="button" aria-expanded="false"
  >
    <%= CURRENT_USER %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li class="nav-profile"><a href="#">Profile</a></li>
    <li class="divider"></li>
    <li><a href="/session/new">Log Out</a></li>
  </ul>
</li>
