<div class="navbar-form navbar-right">
  <div class="form-group">
    <input type="text" name="query" class="query form-control"
      style="width: 400px" placeholder="Search by username">
  </div>
  <button type="submit" class="btn btn-default">
    <i class="fa fa-search"></i>
    Search Users
  </button>
</div>
