<li class="dropdown nav-username">
  <a href="#" class="nav-dropdown dropdown-toggle nav-link"
    data-toggle="dropdown"role="button" aria-expanded="false"
  >
    <div class="username-dropdown">
      <img class="nav-prof-pic"
        src="<%= GoodgamesApp.currentUser.image().get('thumb_url') %>"
      >
        <span><%= GoodgamesApp.currentUser.escape('username') %></span>
      </img>
      <span class="caret"></span>
    </div>
  </a>

  <ul class="dropdown-menu nav-user-dropdown" role="menu">
    <li class="nav-profile">
      <a href="#">
        <i class="fa fa-gamepad"></i>
        Profile
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a class="logout" href="#">
        <i class="fa fa-sign-out"></i>
        Log Out
      </a>
    </li>
  </ul>
</li>
