/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 #main {
   margin-top: 50px;
 }

 .game-thumb {
   height: 220px;
   width: 177px;
   margin: 9px;
  }

  .game-thumb:hover {
    background-color: #e1e1e8;
  }

 .box-art {
   max-height: 400px;
 }

#profile-dropdown {
  margin-right: 10px;
  margin-left: 15px;
}

#boxart {
  max-height: 160px;
}

#edit-review {
  position: relative;
  top: -10px;
}

.star-rating {
  max-width: 140px;
}

.review-body {
  word-wrap: break-word;
}

.box {
  height: 160px;
}

.box-divider {
  margin: 5px;
}

.loading-img {
  height: 150px;
}
