/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootswatch/superhero/variables";
@import "bootstrap";
@import "bootswatch/superhero/bootswatch";
@import 'slick';

html>body {
  padding-top: 60px;
  background: image-url("blue_body_bg.jpg")
    center top repeat-y #000000;
  background-color: black;
  color: white;
}

.bold {
  font-weight: bold;
}

.clearfix {
  overflow: auto;
}

//Splash Page
.splash-vid {
  z-index: -1000;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}

.logo {
  height: 600px;
}

.new-session {
  position: relative;
  top: -72px;
  height: 1px;
}

.new-sess-form, .guest-sess-form {
  position: relative;
  top: -50px;
}

//Games
  //Home Page
  .homepage-game {
    position: relative;
    height: 220px;
    width: 150px;
    margin: 10px;
  }

  .homepage-boxart {
    width: 150px;
    border: 1px black solid;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #98f5ff;
  }

  .homepage-boxart:hover {
    opacity: 0.2;
    box-shadow: 0px 0px 15px #fff;
  }

  .homepage-game-title {
    position: absolute;
    z-index: -100;
    width: 150px;
    top: 15px;
  }

  .homepage-avg-score {
    position: relative;
    z-index: -100;
    bottom: 50px;
  }

  //Game Show Page
  .game-boxart {
    width: 355px;
    border: 1px black solid;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #98f5ff;
    margin: 10px;
    margin-right: 40px;
    float: left;
  }

  .collection-button {
    margin-right: 35px;
  }

  //Game Thumbnails
  .recommendations, .wishlist {
    height: 295px;
  }

  .game-thumbnail {
    margin-top: 10px;
  }

  .small-boxart {
    opacity: 0.8;
    box-shadow: 0px 0px 5px #98f5ff;
    width: 125px;
    max-height: 180px;
  }

  .small-boxart:hover {
    opacity: 1;
    box-shadow: 0px 0px 15px #fff;
  }

  .small-boxart-buffer {
    min-height: 240px;
  }

  .box-divider {
    margin: 5px;
    top: 5px;
    position: relative;
  }

  .caption.game-title {
    color: white;
  }

  .slick-slider {
    border: 2px black solid;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
  }

  //Search Results
  .game-search-results {
    height: 225px;
    width: 150px;
    margin: 5px;
  }

// Review and Comments
  //Game Reviews
  .review-body {
    word-wrap: break-word;
    position: relative;
    top: -2em;
  }

  a.edit-review {
    position: relative;
    top: -10px;
  }

  div.panel.css-panel {
    background: linear-gradient(to bottom,
      rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%
    );
    border-color: gray;
    border: 1px;
  }

  div.panel-heading.css-panel-head, div.panel-footer.css-panel-foot {
    background-color: black;
    color: white;
    border-color: gray;
    border: 1px;
  }

  //Review/Comment Form
  .review-content, .comment-content {
    color: black;
  }

  .m-content {
    z-index: 100;
    border-radius: 3px;
    position: fixed;
    margin-top: 3em;
    left: 21%;
    width: 60em;
  }

  .m-backdrop {
    position: fixed;
    background-color: rgba(20, 20, 20, .8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
  }

  button.close {
    color: #e12727;
    opacity: 0.5;
  }

  button.close:hover {
    color: red;
    opacity: 0.8;
  }

  //User Review List
  .m-content.profile {
    overflow: scroll;
    top: 1em;
    max-height: 50em;
  }

// Users
  // Profile
  .prof-header {
    background: url(
      "http://res.cloudinary.com/dqucbuno8/image/upload/c_fit,w_1170/v1434738775/showcase_bg_bbiywa.png"
    );
    box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75);
    border-radius: 3px;
    background-size: cover;
    height: 24em;
  }

  .avatar, .user-info{
    float: left;
    margin-left: 50px;
  }

  .user-avatar {
    position: relative;
    top: 20px;
    border: 2px #222223 solid;
    border-radius: 4px;
    height: 250px;
    width: 250px;
  }

  .upload-pic {
    position: relative;
    top: 35px;
    left: 58px;
  }

  // User Card
  .user-card {
    background: url(
      "http://res.cloudinary.com/dqucbuno8/image/upload/c_fit,w_1145/v1434738775/showcase_bg_bbiywa.png"
    );
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .user-card-info {
    float: left;
    margin-top: 20px;
    margin-left: 25px;
  }

  .user-card-recommendations {
    width: 90%;
    font-size: 15px;
    position: relative;
    top: 20px;
    left: 30px;
  }

  .card-recommendations {
    font-size: 12px;
  }

  .user-card-avatar {
    width: 100px;
    height: 100px;
    border: 3px #222223 solid;
    border-radius: 3px;
  }

  .user-card-rank {
    float: right;
    position: relative;
    bottom: 20px;
    right: 40px;
  }

  .card-rank {
    border: 1px solid #212121;
    border-radius: 3px;
    background-color: #222223;
    height: 175px;
    box-shadow: 1px 1px 0 #343944;
  }

// Ranking
.rank {
  float: right;
  margin-right: 50px;
}

.profile-rank{
  border: 1px solid #212121;
  border-radius: 3px;
  background-color: #222223;
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 0 #343944;
  position: relative;
}

.rank-image {
  max-width: 125px;
  max-height: 125px;
}

//Recomendation Feed
.rec-feed {
  border-right: 2px gray solid;
  height: 1050px;
  right: 15px;
}

.feed-item {
  position: relative;
  margin: 5px;
  width: 400px;
  left: 50px;
}

.feed-prof-pic {
  width: 40px;
  height: 40px;
  border: 2px #222223 solid;
  border-radius: 25px;
}

.feed-text {
  min-height: 40px;
}

.feed-hr {
  margin-top: 5px;
  margin-bottom: 0px;
}

// Search Results
  //Loading Screen
  .loading-img {
    height: 150px;
    position: relative;
    left: 20px;
  }

// navbar
nav.navbar {
  background-color: #171a21;
  border: 1px;
}

.nav-logo {
  height: 50px;
  position: relative;
  top: -15px;
}

.navbar-default .navbar-nav>li>a.nav-link {
  color: #b8b6b4;
}

.navbar-default .navbar-nav>li>a.nav-link:hover {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a.nav-dropdown {
  color: #b8b6b4;
}

.navbar-default .navbar-nav>li>a.nav-dropdown:hover {
  color: #ffffff;
}

.nav-prof-pic {
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 15px;
  right: 30px;
  border: 2px #222223 solid;
  border-radius: 25px;
}

.nav-username {
  position: relative;
  right: 15px;
}

ul.nav.nav-bar>li.nav-link.active>a {
  background-color: rgba ( 64, 128, 183, 0.2);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav >.active > a.nav-link:hover,
.navbar-default .navbar-nav > .active > a.nav-link:focus {
  background-color: rgba( 64, 128, 183, 0.4) !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background-color: inherit;
}

.profile-link {
  height: 50px;
  max-width: 50px;
}

.search-bar-dropdown {
  margin-right: 50px;
  position: relative;
  top: 8px;
}

//Other
.star-rating.rating-disabled {
  cursor: default;
}
