/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html>body {
  padding-top: 60px;
  background: image-url("blue_body_bg.jpg")
    center top repeat-y #000000;
  background-color: black;
  color: white;
  font-family: verdana;
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

.clearfix {
  overflow: auto;
}

.display-none {
  display: none;
}

.relative-pos {
  position: relative;
}

//Splash Page
.splash-vid {
  z-index: -1000;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}

.logo {
  margin-bottom: -30px;
  width: 65%;
}

.new-session {
  position: relative;
  top: -72px;
  height: 1px;
}

.guest, .to-signin{
  margin-top: 10px;
}

.alert.alert-warning {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

//Games
  //Home Page
  .homepage-game-list {
    margin-bottom: 15px;
  }

  .homepage-game {
    position: relative;
    height: 220px;
    width: 150px;
    margin: 10px;
    margin-bottom: 0px;
    margin-right: 2%;
    float: left;
  }

  .homepage-boxart {
    width: 150px;
    border: 1px black solid;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #98f5ff;
  }

  .homepage-boxart:hover {
    opacity: 0.2;
    box-shadow: 0px 0px 15px #fff;
  }

  .homepage-game-title {
    position: absolute;
    z-index: -100;
    width: 150px;
    top: 15px;
  }

  .homepage-avg-score {
    position: relative;
    z-index: -100;
    bottom: 40px;
  }

  //Game Show Page
  .game-boxart {
    width: 355px;
    border: 1px black solid;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #98f5ff;
    margin: 10px;
    margin-right: 40px;
  }

  .game-profile {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .game-profile-left {
    float: left;
    width: 400px;
  }

  .game-score {
    margin-left: 10px;
    width: 360px;
  }

  .wishlist-button {
    float: right;
  }

  .platforms, .release-date, .description {
    margin-top: 20px;
  }

  //Game Thumbnails
  .game-thumbnail {
    margin-top: 10px;
  }

  .small-boxart {
    opacity: 0.8;
    box-shadow: 0px 0px 5px #98f5ff;
    width: 125px;
    max-height: 180px;
  }

  .small-boxart:hover {
    opacity: 1;
    box-shadow: 0px 0px 15px #fff;
  }

  .box-divider {
    margin: 5px;
    top: 5px;
    position: relative;
  }

  .caption.game-title {
    color: white;
  }

  //Search Results
  .game-search-results {
    height: 225px;
    width: 150px;
    margin: 5px;
  }

  .search-for {
    font-size: 30px;
    margin-bottom: 20px;
  }

// Review and Comments
  //Game Reviews
  .review-body {
    word-wrap: break-word;
    position: relative;
    top: -2em;
  }

  a.edit-review {
    position: relative;
    top: -10px;
  }

  div.panel.css-panel {
    background: linear-gradient(to bottom,
      rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%
    );
    border-color: gray;
    border: 1px;
  }

  .review-list>div>div.panel.css-panel {
    background: #213B54;
  }

  div.panel-heading.css-panel-head, div.panel-footer.css-panel-foot {
    background-color: black;
    color: white;
    border-color: gray;
    border: 1px;
  }

  //User Comments
  .comment-index {
    margin-top: 60px;
  }

  //Review and Comment Form
  .btn.btn-compose {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .review-content, .comment-content {
    color: black;
    width: 100%;
  }

  .m-content.form {
    left: 0;
    margin-top: 35px;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1001;
  }

  button.close {
    color: #e12727;
    opacity: 0.7;
  }

  button.close:hover {
    color: red;
    opacity: 1.0;
  }

  //User Review List
  .m-content.profile {
    overflow-y: scroll;
    max-height: 85%;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }

  button.close.profile-reviews-close {
    position: fixed;
    z-index: 10000;
    left: 84%;
  }

// Users
  // Profile
  .profile-header {
    background: url(
      "http://res.cloudinary.com/dqucbuno8/image/upload/c_fit,w_1170/v1434738775/showcase_bg_bbiywa.png"
    );
    box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75);
    border-radius: 3px;
    background-size: cover;
    height: 320px;
  }

  .avatar, .user-info{
    float: left;
    margin-left: 50px;
  }

  .user-avatar {
    position: relative;
    top: 20px;
    border: 2px #222223 solid;
    border-radius: 4px;
    height: 250px;
    width: 250px;
    background-color: white;
  }

  .upload-pic {
    position: relative;
    top: 25px;
    left: 68px;
  }

  // User Card
  .user-card {
    background: url(
      "http://res.cloudinary.com/dqucbuno8/image/upload/c_fit,w_1145/v1434738775/showcase_bg_bbiywa.png"
    );
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .user-card-info {
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    width: 140px;
  }

  .user-card-recommendations {
    width: 90%;
    font-size: 15px;
    position: relative;
    top: 20px;
    left: 30px;
  }

  .card-recommendations {
    font-size: 12px;
  }

  .user-card-avatar {
    width: 100px;
    height: 100px;
    border: 3px #222223 solid;
    border-radius: 3px;
    background-color: white;
  }

  .user-card-rank {
    float: right;
    position: relative;
    bottom: 20px;
    width: 275px;
  }

  .card-rank {
    border: 1px solid #212121;
    border-radius: 3px;
    background-color: #222223;
    box-shadow: 1px 1px 0 #343944;
    height: 175px;
    width: 200px;
    position: relative;
    left: 35px;
    bottom: 15px;
  }

// Ranking
.rank {
  float: right;
  margin-right: 50px;
}

.profile-rank{
  border: 1px solid #212121;
  border-radius: 3px;
  background-color: #222223;
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 0 #343944;
  position: relative;
}

.rank-image {
  max-width: 125px;
  max-height: 125px;
}

//Recommendations and wishlist
.recommendations, .wishlist {
  height: 275px;
}

.small-boxart-buffer {
  min-height: 230px;
}

.slick-slider {
  border: 2px black solid;
  background: rgba(0, 0, 0, 0.4);
}

button.slick-next, button.slick-prev {
  width: 25px;
  height: 275px;
  top: 8px;
  border: 2px black solid;
}

button.slick-next, button.slick-next:focus {
  border-radius: 0px 15px 15px 0px;
  right: -30px;
  background: #0B1119;
}

button.slick-prev, button.slick-prev:focus {
  border-radius: 15px 0px 0px 15px;
  background: #090D13;
  left: -30px;
}

button.slick-next:hover, button.slick-prev:hover {
  background: #233F59;
}

button.slick-next.slick-disabled, button.slick-prev.slick-disabled {
  background-color: transparent;
  cursor: default;
}

//Recomendation Feed
#recommendation-feed {
  float: left;
  height: 1175px;
  margin-left: 2%;
  margin-right: 3%;
}

.feed-item {
  margin: 10px;
  padding: 2px;
  width: 375px;
  border-width: 1px 3px 3px 1px;
  border-color: black;
  border-style: solid;
  border-radius: 3px;
  background: rgba(49, 66, 90, 0.4);
}

.feed-prof-pic {
  width: 40px;
  height: 40px;
  border: 2px #222223 solid;
  border-radius: 25px;
  float: left;
  margin-right: 15px;
  background-color: white;
}

.feed-text {
  min-height: 40px;
}

.feed-title {
  font-size: 18px;
  margin-bottom: 5px;
  width: 375px;
  margin-left: 10px;
}

// Search Results
  //Loading Screen
  .loading-img {
    height: 150px;
    position: relative;
    left: 20px;
  }

// navbar
nav.navbar {
  background-color: #171a21;
  border: 1px;
}

.nav-logo {
  height: 50px;
  position: relative;
  top: -15px;
}

.navbar-default .navbar-nav>li>a.nav-link {
  color: #b8b6b4;
}

.navbar-default .navbar-nav>li>a.nav-link:hover,
.navbar-default .navbar-nav>li>a.nav-link:focus,
.navbar-default .navbar-nav>li.active>a.nav-link {
  color: #ffffff;
}

.nav-right {
  list-style: none;
  float: right;
  height: 50px;
  margin: 0px;
}

.nav-user-info {
  float: right;
}

.nav-prof-pic {
  height: 50px;
  width: 50px;
  border: 2px #222223 solid;
  border-radius: 25px;
  margin-right: 5px;
  margin-left: 20px;
}

.nav-username {
//   float: right;
//   height: 50px;
  // position: relative;
  // right: 15px;
  padding-right: 25px;
}

.nav-username a {
  text-decoration: none;
  color: #b8b6b4;
}

.nav-username a:hover, .nav-username a:focus {
  text-decoration: none;
  color: #ffffff;
}

.nav-username.open  {
  background-color: rgba( 64, 128, 183, 0.4);
}
//
// .nav-username>.nav-link {
//   position: relative;
//   bottom: 15px;
//   right: 1px;
//   min-width: 158px;
// }

.navbar-default .navbar-nav > .active > a.nav-link,
.navbar-default .navbar-nav > .active > a.nav-link:hover,
.navbar-default .navbar-nav > .active > a.nav-link:focus
// .navbar-default .navbar-nav>.open>a.nav-link,
// .navbar-default .navbar-nav>.open>a.nav-link:hover,
// .navbar-default .navbar-nav>.open>a.nav-link:focus
 {
  background-color: rgba( 64, 128, 183, 0.4);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background-color: inherit;
}

div.navbar-collapse.in {
    overflow-y: inherit;
}

.profile-link {
  height: 50px;
  max-width: 50px;
}

#nav-search {
  float: left;
}

#search-bar {
  display: inline-block;
}

input.query.form-control {
  width: 250px;
  display: inline-block;
}

.search-button {
  width: 145px;
}

.search-bar-dropdown {
  display: inline-block;
  position: relative;
  right: 20px;
  height: 34px;
}

//Modal
.m-content {
  z-index: 10000;
  border-radius: 3px;
  position: fixed;
}

.m-backdrop {
  position: fixed;
  background-color: rgba(20, 20, 20, .8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5000;
}

//Other
.star-rating.rating-disabled {
  cursor: default;
}

.fa.center-fa {
  vertical-align: 0;
}

@media (max-width: 1200px) {
  #main {
    margin-top: 50px;
  }

  .nav-right {
    float: left;
    padding-left: 0px;
  }

  #recommendation-feed {
    position: absolute;
    top: 100%;
    width: 90%;
  }

  .feed-title {
    width: 100%;
  }

  .feed-item {
    width: 100%;
  }

  .profile-header {
    height: 420px;
  }
}

@media (max-width: 768px) {
  #main {
    margin-top: 0px;
  }

  .nav-right {
    float: none;
  }

  #dropdown-menu {
    margin-left: 16px;
  }

  input.query.form-control {
    top: 2px;
    position: relative;
  }
}
