<div class="text-center">
  <h3>Rank:</h3>
  <div class="text-center profile-rank">
    <h4><%= rank.escape('name') %></h4>
      <br>
    <img class="rank-image" src="<%= rank.get('image_url') %>" />
  </div>
  <br>
  Reviews Submitted: <%= numRevs %>
</div>
